<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.climesoft.studenttimetable">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimeTableActivity"
            android:label="TimeTable" />
        <activity android:name=".SubjectActivity"
            android:label="Subject"/>
        <activity android:name=".AssignmentActivity"
            android:label="Assignment"/>
        <activity android:name=".QuizActivity"
            android:label="Quiz"/>
        <activity android:name=".QuizAddActivity"
            android:label="Add Quiz"/>
        <activity android:name=".SubjectAddActivity"
            android:label="Add Subject"/>
        <activity android:name=".AssignmentAddActivity"
            android:label="Add Assignment"/>
        <activity android:name=".TimeTableDetailActivity"
            android:label="TimeTable Detail"/>
        <activity android:name=".TimeTableAddActivity"
            android:label="Add TimeTable"/>
        <activity android:name=".RegistrationActivity"
            android:label="Register"/>
    </application>

</manifest>